.chatcontainer {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    max-width: 1200px;
    min-width: 768px;
    margin: 0 auto;
}

.header {
    width: 100%;
    background-color: slategrey;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    text-align: center;
}

nav > a {
    display: inline-block;
    font-family: inherit;
    font-size: 14px;
    padding: 5px 20px;
    text-align: center;
    background-color: #ccc;
    text-decoration: none;
    border: 1px inset #000;
    border-radius: 5px;
}

nav > a:active {
    background-color: #aaa;
}