body {
    background-color: #ebf0f5;
}

.chat {
    display: flex;
    flex-direction: row;
}
.chat__messages,
.form-wrapper {
    max-width: 1200px;
    margin: 0 auto 30px;
    padding: 30px;
    background: #fff;
    border-radius: 12px;
    -webkit-box-shadow: 0 10px 40px rgba(88,114,154,.3);
    box-shadow: 0 10px 40px rgba(88,114,154,.3);
}
.chat__messages {
    display: flex;
    flex-direction: column;
    background: #a4d5ff;
}
.chat__main-chat {
    width: 70%;
}
.chat__chatlist {
    width: 30%;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header,
.footer {
   text-align: center;
   padding: 20px;
}
.message-item {
    display: flex;
    flex-direction: row;
    margin: 0 20px 20px 0;
}
.message-item.robot {
    align-self: flex-end;
}
.message-item__text {
    background: #ebf0f5;
    max-width: 500px;
    border-radius: 5px;
    padding: 10px;
}