.Message {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    list-style: none;
    border-radius: 5px;
    align-self: flex-end;
}   

.Message--robot { 
    align-self: flex-start;
    background-color: rgba(75, 22, 121, 0.5);
    color: white; 
}

.Message:not(:last-child){
    margin-bottom: 20px;
}