li {
    line-height: 2em;
    width: 60%;
    background-color: #fff;
    border-radius: 4px;
    list-style-type: none;
    margin-bottom: 10px;
    padding: 0 10px;
}

li:last-child {
    margin-bottom: 0;
}

.bot-false {
    align-self: flex-end;
}