.container {
  background: #fff;
}

.link {
  color: #000;
  text-decoration: none;
  transition: transform .5s, opacity .5s, color .5s;
  opacity: .5;
  cursor: pointer;

  &.active {
    opacity: 1;
    transform: translateX(6px);
  }
  &.fire {
    font-weight: bold;
    color: #1700dc;
    opacity: 1;
  }
}

.spinner {
  text-align: center;
  margin: 20px 0;
}
