.ChatList{
    flex-basis: 20%;
}

.ChatList ul li {
    list-style: none;
    display: block;
}

.ChatList img{
    display: inline-block;
}

.ChatList .chatName{
    display: inline-block;
    height: 20px;
    line-height: 18px;
    padding: 5px;
    margin: 5px;
    text-align: start;
    vertical-align: top;
}