

.message__btn:focus {
  outline: none;
}

.message__btn:hover, .message__btn:active {
  background: #000000;
  color: #ffffff;
}

.chat-form__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}
.chat-form__input, .chat-form__textarea {
  margin-bottom: 20px !important;
  font-size: 16px;
}