

.Message {
  background-color: lightskyblue;
  padding: 10px;
  list-style: none;
  width: 30%;
  border-radius: 10px;
  align-self: flex-end;
}

.Message:not(:last-child) {
  margin-bottom: 20px;
}

.Message--robot {
  align-self: flex-start;
}
