.container {
  a {
    color: #fff;
    text-decoration: none;
  }
}

.navigation {
  flex-grow: 1;
}

.link {
  opacity: .5;
  display: inline-block;

  &:not(:last-child) {
    margin-right: 12px;
  };

  &.active {
    opacity: 1;
  }
}

.user {
  display: flex;
  align-items: center;
  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
}
