.Message {
    list-style: none;
    background-color: lightblue;
    padding:4px;
    widows: 30%;
    align-self: flex-end;
}

.Message--robot {
    align-self: flex-start;
}

.Message:not(:last-child){
    margin-bottom: 20px;
    border-radius: 5px;
}