.Message {
    background-color: lightskyblue;
    padding: 10px;
    list-style: none;
    width: 30%;
    border-radius: 5px;
    align-self: flex-end;
}

.Message--robot {
    align-self: flex-start;
}

.Message:not(:last-child){
    margin-bottom: 20px;
}