.container {
  margin-top: 30px;
}
.name {
}

.name-edit-button {
  color: #ff7500;
  cursor: pointer;
  margin-left: 10px;
  margin-bottom: -2px;
}

.message-line {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .message {
    flex-grow: 1;
    margin-right: 10px;
  }
}

