.chat {
  width: 100%;
  background-color: #edeef0;
  height: 500px;

  &__messages {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 0;
    height: 400px;
    overflow-y: scroll;
  }

  &__form {
    display: flex;
    justify-content: center;
    padding: 16px;
    background-color: #e2e4e8;
  }

  &__input {
    margin: 0 15px !important;
  }

  &__submit {
    margin: 0 15px !important;
  }
}
