  
.Message {
    background-color: lightgray;
    padding: 15px;
    list-style: none;
    width: 30%;
    border-radius: 6px;
    align-self: flex-end;
}   

.Message--robot { 
    background-color: lightgreen;
    padding: 15px;
    align-self: flex-start;
}

.Message:not(:last-child){
    margin-bottom: 20px;
}