.Message {
    background-color: lightseagreen;
    padding: 10px;
    list-style: none;
    width: 30%;
    border-radius: 5px;
    align-self: flex-end;
}

.Message--robot {
    background-color: orange;
    align-self: flex-start;
}

.Message:not(:last-child) {
    margin-bottom: 20px;
}
