.Message {
    list-style: none;
    align-self: flex-end;
    border-radius: 10px;
    width: auto;
    max-width: 80%;
}

.Message--robot {
    /*background-color: lightgray;*/
    align-self: flex-start;
}

.Message:not(:last-child){
    margin-bottom: 10px;
}

.MessageBody {
    padding: 4px 16px 8px 8px;
}
