.chatlist__form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-right: 20px;
    width: 25%;
    max-width: 150px;
    min-width: 100px;
}
