.chatlist__form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-right: 20px;
    width: 25%;
    max-width: 150px;
    min-width: 100px;
}

.chatlist__form > span {
    padding: 0 10px;
    cursor: pointer;
    border: 1px solid black;
    text-align: center;
    padding: 5px 20px;
    background-color: #ccc;
    border-radius: 5px;
}

.chatlist__form > span:active {
    background-color: #aaa;
}
