.btn-send{
    height: 54px;
    width: 10%; 
    background-color: rgb(91, 33, 145);
}

.input-name{
    width: 20%; 
}

.input-message{
    width: 70%; 
}

form{
    padding-top: 5px;
    flex: 0 0 auto;
    width: 100%;

}