.message {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 20px;
}

.message:last-child {
  margin: 0;
}

.message__name {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}